# Build and Release Folders
bin/
bin-debug/
bin-release/

# Other files and folders
.settings/

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

# mac local setting files
.DS_Store

# UIDynamics extended folders - 206_221_UIDyanmics/OfficialSamples
206_221_UIDyanmics/OfficialSamples
# UI change in Xcode project - just ignore
206_221_UIDyanmics/UIDyanmics.xcworkspace/xcuserdata/
206_221_UIDyanmics/UIDyanmics.xcworkspace/xcshareddata/

# Transitions extended folders - 218_Transitions/OfficialSamples
218_Transitions/OfficialSamples
218_Transitions/Transitions.xcworkspace/xcuserdata/
218_Transitions/UIDyanmics.xcworkspace/xcshareddata/
