# Build and Release Folders
bin/
bin-debug/
bin-release/

# Other files and folders
.settings/

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

# mac local setting files
.DS_Store

# UIDynamics extended folders - 206_221_UIDyanmics/OfficialSamples
206_221_UIDyanmics/OfficialSamples
# UI change in Xcode project - just ignore
206_221_UIDyanmics/UIDyanmics.xcworkspace/xcuserdata/
206_221_UIDyanmics/UIDyanmics.xcworkspace/xcshareddata/

# Transitions extended folders - 218_Transitions/OfficialSamples
218_Transitions/OfficialSamples
218_Transitions/Transitions.xcworkspace/xcuserdata/
218_Transitions/UIDyanmics.xcworkspace/xcshareddata/
218_Transitions/Transitions.xcworkspace/xcuserdata/llv22.xcuserdatad/UserInterfaceState.xcuserstate
218_Transitions/Transitions.xcworkspace/xcuserdata/llv22.xcuserdatad/
218_Transitions/Transitions.xcworkspace/xcshareddata/

# Multitasking extended folders - 204_Multitasking/OfficialSamples
204_Multitasking/OfficialSamples
204_Multitasking/WeiboSinaSDK
204_Multitasking/MultiTaskforSina.xcworkspace/xcuserdata/
204_Multitasking/MultiTaskforSina.xcworkspace/xcshareddata/
204_Multitasking/MultiTaskforSina.xcworkspace/xcuserdata/llv22.xcuserdatad/UserInterfaceState.xcuserstate
204_Multitasking/MultiTaskforSina.xcworkspace/xcuserdata/llv22.xcuserdatad/
204_Multitasking/MultiTaskforSina.xcworkspace/xcshareddata/
204_Multitasking/MultiTaskforSina/MultiTaskforSina.xcodeproj/project.xcworkspace/
204_Multitasking/MultiTaskforSina/MultiTaskforSina.xcodeproj/xcuserdata/llv22.xcuserdatad/xcdebugger/

#ignore changes in subfolder of library

#ignore foundation subfolder
foundation/

#MapKitView
304_Mapkitnews/MapkitNews.xcworkspace/xcuserdata/
